<?xml version='1.1' encoding='UTF-8'?>
<project>
    <description>Example freestyle project</description>

    <properties>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.StringParameterDefinition>
                    <name>CHG_NUMBER</name>
                    <description>Change Request Number</description>
                    <defaultValue></defaultValue>
                    <trim>true</trim>
                </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>

    <builders>
        <hudson.tasks.Shell>
            <command>echo "Hello from freestyle project!"</command>
        </hudson.tasks.Shell>
    </builders>
</project>
