<?xml version='1.1' encoding='UTF-8'?>
<flow-definition plugin="workflow-job">
    <description>Example pipeline job</description>
    <keepDependencies>false</keepDependencies>

    <properties>
        <hudson.model.ParametersDefinitionProperty>
            <parameterDefinitions>
                <hudson.model.StringParameterDefinition>
                    <name>CHG_NUMBER</name>
                    <description>Change Request Number</description>
                    <defaultValue></defaultValue>
                    <trim>true</trim>
                </hudson.model.StringParameterDefinition>
            </parameterDefinitions>
        </hudson.model.ParametersDefinitionProperty>
    </properties>

    <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps">
        <script>
            <![CDATA[
                pipeline {
                    agent any

                    options { timestamps() }

                    stages {
                        stage('Build') {
                            steps {
                                echo "Building project ..."
                            }
                        }

                        stage('Unit Tests') {
                            steps {
                                echo "Running Unit Tests ..."
                            }
                        }

                        stage('Integration Tests') {
                            steps {
                                echo "Running Integration Tests ..."
                            }
                        }

                        stage('Package') {
                            steps {
                                echo "Packaging ..."
                            }
                        }

                        stage('Security Scans') {
                            steps {
                                echo "Running Security Scans ..."
                            }
                        }

                        stage('Deploy') {
                            steps {
                                echo "Deploying ..."
                            }
                        }

                        stage('Finished') {
                            steps {
                                echo "✅ Done at ${new Date()}"
                            }
                        }
                    }

                    post {
                        always {
                            echo "🔖 Build #${env.BUILD_NUMBER} ended with ${currentBuild.currentResult}"
                        }
                    }
                }
            ]]>
        </script>
        <sandbox>true</sandbox>
    </definition>

    <disabled>false</disabled>
</flow-definition>
